.container-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.img-carousel {
  max-height: 700px !important;
}

.btn-go-back {
  width: 400px !important;
  margin: 20px 0;
}
