.cart-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-product {
  align-items: center;
  margin: 8px 0;
}

.product-img {
  margin-top: 16px;
  width: 80px !important;
}

.cart {
  background-color: #F1F0F1 !important;
}

@media (max-width: 991px) {
  .cart {
    padding: 6px 0 !important;
  }
}
